<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.slx.bs.dao.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.slx.bs.po.SysUser">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="name" property="name" jdbcType="VARCHAR"/>
        <id column="user_name" property="userName" jdbcType="VARCHAR"/>
        <id column="password" property="password" jdbcType="VARCHAR"/>
        <id column="level" property="level" jdbcType="INTEGER"/>
        <id column="creat_time" property="creatTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="login" resultMap="BaseResultMap">
        select * from sys_user where user_name = #{userName,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
    </select>

    <insert id="addUser"   parameterType="com.slx.bs.po.SysUser">
        insert into sys_user(phone ,name ,user_name ,password,level,create_time) values(#{phone,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},#{level,jdbcType=SMALLINT},now())
    </insert>

</mapper>